<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'
    integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=='
    crossorigin='anonymous' /> -->
  <!-- toastr v2.1.4 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">'
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="mt-4">
        <!-- 產品Modal (外層傳入內層)-->
        <user-product-modal ref="userProductModal" :product="product" @add-cart="addCart">
        </user-product-modal>

        <table class="table align-middle">
          <thead>
            <tr>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>價格</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <td style="width: 200px">
                <!-- 顯示圖片 加上背景圖(加入樣式使用 style屬性) -->
                <div style="height: 100px; background-size: cover; background-position: center"
                  :style="{ 'background-image': `url(${item.imageUrl})` }">
                </div>
              </td>
              <td>
                {{ item.title }}
              </td>
              <td>
                <div class="h5">{{ item.price }} 元</div>
                <del class="h6">原價 {{ item.origin_price}} 元</del>
                <div class="h5">限時特價 {{ item.price }} 元</div>
              </td>
              <td>
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-outline-secondary" @click="openModal(item)"
                    :disabled="loadingStatus.loadingItem === item.id">
                    <div class="spinner-border spinner-border-sm text-primary" role="status"
                      v-if="loadingStatus.loadingItem === item.id">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    查看更多
                  </button>
                  <button type="button" class="btn btn-outline-danger" :disabled="loadingStatus.loadingItem === item.id"
                    @click="addCart(item.id)">
                    <div class="spinner-border spinner-border-sm text-danger" role="status"
                      v-if="loadingStatus.loadingItem === item.id">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    加到購物車
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 購物車列表 -->
        <div class="text-end">
          <button class="btn btn-outline-danger" type="button" @click="delProductAll">
            清空購物車</button>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <pagination :page="pagination" @get-product="getProducts"></pagination>
      </div>
        <table class="table align-middle">
          <thead>
            <tr>
              <th></th>
              <th>品名</th>
              <th style="width: 150px">數量/單位</th>
              <th>單價</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="cart.carts">
              <!-- 判斷購物車內是否有資料 -->
              <tr v-for="item in cart.carts" :key="item.id">
                <!-- carts 為列表 -->
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="delProduct(item.id)">
                    <i class="fas fa-spinner fa-pulse"></i>
                    x
                  </button>
                </td>
                <td>
                  {{ item.product.title }}
                  <div class="text-success">
                  </div>
                </td>
                <td>
                  <!-- 選擇數量 -->
                  <!-- -1 -->
                  <div class="input-group input-group-sm">
                    <div class="input-group mb-3">

                      <span class="input-group-text" id="basic-addon2" @click="lessOneProduct(item)"
                        :disabled="item.id === loadingStatus.loadingItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                        </svg>
                      </span>

                      <!-- 顯示數量 -->
                      <input min="1" type="number" @change="updateCart(item)" disabled v-model.number="item.qty"
                        class="form-control">

                      <!-- +1 -->
                      <span class="input-group-text" id="basic-addon2" type="button" @click="addOneProduct(item)"
                        :disabled="item.id === loadingStatus.loadingItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                        </svg>
                      </span>
                    </div>
                    
                  </div>
                </td>
                <td class="text-end">
                  <small class="text-success">折扣價：</small>
                  {{ item.total }}
                </td>
              </tr>
            </template>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-end" font-weight:bold>
                <span style="font-weight: bolder;">總計 {{final_total}} </span>
              </td>
              <td class="text-end"></td>
            </tr>
            <tr>
              <td colspan="3" class="text-end text-success">折扣價</td>
              <td class="text-end text-success">{{ }}</td>
            </tr>
          </tfoot>
        </table>
        

      </div>
      <!-- 表單 -->
      <div class="my-5 row justify-content-center">
        <!-- 更換為 v-form -->
        <v-form ref="form" v-slot="{ errors }" @submit="onSubmit" class="col-md-6">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <v-field id="email" name="email" type="email" class="form-control"
              :class="{ 'is-invalid': errors['email'] }" placeholder="請輸入 Email"
              rules="email|required" v-model="form.user.email"></v-field>
            <error-message name="email" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">收件人姓名</label>
            <v-field id="name" name="姓名" type="text" class="form-control" 
            :class="{ 'is-invalid': errors['姓名'] }" placeholder="請輸入姓名" 
              rules="required" v-model="form.user.name"></v-field>
            <error-message name="姓名" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="tel" class="form-label">收件人電話</label>
            <v-field id="tel" name="電話" type="tel" class="form-control" :class="{ 'is-invalid': errors['電話'] }"
              placeholder="請輸入電話"
              rules="required|min:8|max:10" v-model="form.user.tel"></v-field>
            <error-message name="電話" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">收件人地址</label>
            <v-field id="address" name="地址" type="text" class="form-control" :class="{ 'is-invalid': errors['地址'] }"
              placeholder="請輸入地址" rules="required" v-model="form.user.address"></v-field>
            <error-message name="地址" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">留言</label>
            <textarea id="message" class="form-control" cols="30" rows="10"
            v-model="form.message"></textarea>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-danger">送出訂單</button>
          </div>
        </v-form>
      </div>
    </div>


  </div>
  <script type="text/x-template" id="userProductModal">
<div class="modal fade" id="productModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <span>{{  }}</span>
      </h5>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-fluid" :src="..." alt="">
      </div>
          <div class="col-sm-6">
            <span class="badge bg-primary rounded-pill">{{  }}</span>
            <p>商品描述：{{  }}</p>
            <p>商品內容：{{  }}</p>
            <div class="h5">{{  }} 元</div>
            <del class="h6">原價 {{ }} 元</del>
            <div class="h5">現在只要 {{  }} 元</div>
            <div>
              <div class="input-group">
                <input type="number" class="form-control"
                       min="1">
                <button type="button" class="btn btn-primary">加入購物車</button>
      </div>
      </div>
      </div>
          <!-- col-sm-6 end -->
      </div>
      </div>
      </div>
      </div>
      </div>
    </script>
  <!-- 載入套件 -->
  <!-- axios -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
    integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
    crossorigin='anonymous'></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
  <!-- vue -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- v-validate -->
  <script src="https://unpkg.com/vee-validate@next"></script>
  <script src="https://unpkg.com/@vee-validate/i18n@4.1.0"></script>
  <script src="https://unpkg.com/@vee-validate/rules"></script>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <!-- 主要JS -->
  <script src="./config/config.js"></script>
  <script src="./js/cart.js" type="module"></script>
</body>

</html>